:root {
  --plyr-color-main: #00628b;
  --plyr-audio-controls-background: #efece9;
  --bs-btn-color: #fff;
  --bs-btn-hover-color: #fff;
}
.playerContainer {
  width: 100%;
}

#audioplayer {
  display: block;
  width: 100%;
}

.playlistButton {
  text-align: left;
  display: flex;
  justify-content: space-between;
  color: #fff;
  :hover {
    color: #fff;
  }
  &.active > img {
    display: inline !important;
  }
  img {
    filter: brightness(0) invert(1);
  }
}
