{% sw_extends '@Storefront/storefront/utilities/offcanvas.html.twig' %}

{% block utilities_offcanvas_content %}
  {% if page.product.translated.customFields.custom_cd_enable %}
    <div>
      <audio id="audioplayer" controls>
        <source src="" type="audio/mp3" />Your browser does not support the audio element.
      </audio>
    </div>
    {% set audiosampleMediaIds = [] %}
    {% for key, id in page.product.translated.customFields %}
      {% if 'custom_cd_track' in key and 'name' not in key %}
        {% set audiosampleMediaIds = audiosampleMediaIds|merge([id]) %}
      {% endif %}
    {% endfor %}

    {% set mediaCollection =
      searchMedia(audiosampleMediaIds, context.context)
    %}
    <div class="btn-group-vertical">
    {% for media in mediaCollection %}
      {% set audiosampleMedia = mediaCollection.get(media.id) %}
      <button class="btn btn-secondary playlistButton" data-index="{{ loop.index }}"
        data-url="{{ audiosampleMedia.url }}">
        {{ audiosampleMedia.filename }}
      </button>
    {% endfor %}
    </div>
  {% endif %}

{% endblock %}